host "nas" {
    system "x86_64-linux"

    os {
        state-version "25.11"
        boot-loader "systemd-boot"
        efi-can-touch-variables #true
        kernel-package "linuxPackages_6_18"
        timezone "Europe/London"
        locale "en_GB.UTF-8"
        mutable-users #false
        sysctl "net.ipv4.ip_forward"=1 "vm.swappiness"=10
        kernel-module "br_netfilter"
        sysctl "net.bridge.bridge-nf-call-iptables"=1
        tmpfiles-rule "/var/lib/bench" type="d" mode="0755" user="wes" group="users"
        tmpfiles-rule "/tmp/scratch" type="d" mode="1777" age="10d"
        session-variable "KDIR"="/var/lib/bench/kdir"
        experimental-feature "nix-command"
        experimental-feature "flakes"
        trusted-user "wes"
        nix-setting "max-jobs"=4
        system-package "vim"
        system-package "git"
    }

    nix-ld {
        library "stdenv.cc.cc.lib"
        library "zlib"
        library "zstd"
        library "elfutils"
    }

    zfs "8425e349" {
        auto-scrub #true
        extra-pool "tank"
        arc-max-bytes 8589934592
        force-import-root #false
    }

    user "wes" {
        description "Wes Mason"
        group "wheel"
        ssh-key "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAExampleKeyForGoldenTest wes@nas"
        hashed-password "$6$rounds=100000$exampleSaltForGoldenTest$exampleHashDigestValueForTheGoldenTestOnly0123456789abcdefghij."
    }

    openssh {
        port 22
        port 2222
        permit-root "prohibit-password"
    }
}
