host "vmhost" {
    system "x86_64-linux"

    incus {
        ui
        https-address-from-interface "tailscale0"
        firewall {
            trust-interface "incusbr0"
            open-api-on "tailscale0"
        }
        storage-pool "default" driver="zfs" source="rpool/incus"
        network "incusbr0" type="bridge" ipv4="auto" nat="true" ipv6="fd42::1/64" ipv6-nat="true"
        profile "default" pool="default" network="incusbr0"
    }

    guest "sandbox" {
        autostart #true
        private-network #true
        host-address "10.100.0.1"
        local-address "10.100.0.2"
        bind-mount "/data" host-path="/srv/sandbox" read-only=#true
        config {
            os {
                state-version "25.11"
            }
            openssh {
                permit-root "no"
            }
        }
    }
}
